.orange_button{
    padding: 15px 40px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    background-color: #ff4500;
    border-radius: 5px;
}
.white_border_button{
    padding: 15px 40px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
}
.orange_button:hover, .white_border_button:hover{
    animation: button-animation 500ms infinite;
}
@keyframes button-animation {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}